<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">About</py:def>

  <div py:match="content">
    <h2>About ${g.site_title}</h2>
    
    <py:choose>
    <py:when test="not g.site_about">

      <p i18n:msg="">OpenOakland is a new technology innovation organization created by local technologists, open government advocates and data geeks with an interest in supporting, and educating government staff and implementing tools to help open, improve and engage our local governments. </p>

      <h2>What is Data.Openoakland.org?</h2>
      <p i18n:msg="">This platform is an open data catalog built by the OpenOakland Brigade as a community resource and our first example of what can be achieved using opensource tools in strategic ways for our city. This site uses the opensource CKAN platform- the same free software behind the UK government’s Data.Gov.UK resource. This site has been populated with data found on various Oakland Government websites and from the huge data warehouse operated by Urban Strategies Council and it’s public web mapping platform InfoAlamedaCounty.org.</p>

      <p i18n:msg="">This resource is also being released in early beta as a repository for the Code for Oakland hackathon! It is an early work in progress so bear with us as we build out this resource for our community! When we are slightly more built-out we’ll start welcoming feedback from people- data you want, issues with the data, site functions etc. Stay tuned!</p>

      <p i18n:msg="">The current instance was created by Eddie Tejeda, a Code for America fellow and a founding member of OpenOakland,  and is hosted on a cloud based server on Amazon Web Services.</p>


      <h2>More About Open Oakland:</h2>


      <p i18n:msg="">OpenOakland has been formed by people with a desire to demonstrate the power of modern tools and technology to transform our city.  In our work and private lives we’ve noticed dozens of ways that smart technology decisions and agile, cloud based tools can have a huge impact on how well our cities function; we think this is a worthy challenge and one that needs our support long term. This was part of the reason we created OpenOakland – a Code for America Brigade focused on supporting local hackers to connect with civic issues and city staff to work together to build tools that transform our city. In a city with huge potential yet no formal structure to support civic innovation, engagement with the technology community and capacity to implement opensource tools we are building OpenOakland to serve as this backbone.</p>


      <h2>Our Goals</h2>
      <ul>
        <li>To support the local civic hacking community</li>
        <li>To demonstrate and encourage civic innovation in Oakland and the East Bay.</li>
        <li>To implement targeted opensource tools for use in Oakland</li>
        <li>To develop key applications and seed development at hackathons</li>
        <li>To educate local communities about civic hacking, new technology and opensource tools</li>
        <li>To educate and demonstrate the power of strategic data use.</li>
        <li>To educate leaders and encourage policies and decisions that promote open government</li>
      </ul>
 

    </py:when>
    <py:otherwise>
      <p>${Markup(g.site_about.replace('${g.site_title}', g.site_title))}</p>
    </py:otherwise>
    </py:choose>

	</div>

  <xi:include href="layout.html" />
</html>
