body{
background: url('http://oaklandwiki.org/static/theme/img/body-bg.efe6c7da67cb.png') repeat;
}
header #logo {
    float: left;
    width: 500px;
}


.header.outer{
   background: transparent;
   border: none;
   box-shadow: none;
}

.menu{
clear:both;
}
